body {
  background: radial-gradient(rgba(0, 0, 0, 0.404), rgb(0, 0, 0)), url('images/background.jpg') center center no-repeat fixed;
  font-family: 'Montserrat', sans-serif;
  color: #eee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#rodape h5{
  font-size: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.74);
  padding-top: 10px;
  padding-bottom: 12px;
}

#nome {
  margin-top: 20px;
  margin-left: 20px;
}

#cabecalho {
  display: flex;
  top: 0;
  padding-left: 30px;
  position:relative;
  background-color: rgba(0, 0, 0, 0.582);
  color: aliceblue;
  width: 100%;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 22px;

}

#perfil {
  border-radius: 50%;
  padding-left: 0%;
  width:50px;
  height: 50px;
  margin-top: 10px;

}

#texto-base {
  color: white;
  min-width: auto;
  display: inline-block;
  text-indent: 20px;
  padding-top: 300px;
}

/**********************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: block;
  justify-content: right;
  align-items: right;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

/******************************************************************/
.botao-social {
padding-left: 93%;
padding-right: 25px;
padding-top: 200px;
position: fixed;
}

.social-icons { 
  text-align: right;
  padding-top: 13px;
  list-style: none;
}

.social-icons li {
  display: inline-block;

}

.social-icons li a {
  font-size: 20px;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #444;
  color: #DDD;
  transition: 0.3s;
}
.social-icons li a:hover {
  background: #FC7D15;
  color: #FFF;
}
.social-icons li a i {
  line-height: 40px !important;
}
.social-icons.vertical {
  width: 40px;
}
.social-icons.vertical li {
  margin-bottom: 5px;
}
.social-icons.vertical li:last-child {
  margin-right: 0;
}
.social-icons.vertical li a {
  background: #444;
  color: #DDD;
}
.social-icons.vertical li a:hover {
  background: #FC7D15;
  color: #FFF;
}
/******************************************************************/
#quem-sou-eu, img {
  margin-bottom: 8px;
  border-radius: 50%;
  height: 250px;
  width: auto;
  padding-left: 120px;
}

#quem-sou-eu, article {
  color: white;
  display: block;
  height: 250px;
  width: auto;
  padding-left: 150px;
  padding-bottom: 300px;
  min-width: 500px;
}

#quem-sou-eu, h3 {
  color: #dd7732;
  margin-left: 140px;
  margin-top: -250px;
  padding-right: 150px;
  text-align: justify;
}

.imagem-perfil {

}