/*  VISÃO DE COMPUTADOR  */
@media screen and (min-width: 1000px) {
  body {
    background: radial-gradient(rgba(0, 0, 0, 0.404), rgb(0, 0, 0)), url('images/background.jpg') center center no-repeat fixed;
    font-family: 'Montserrat', sans-serif;
    color: #eee;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  }
  
  .navbar-brand {
    font-family: 'Nanum Brush Script', cursive;
    margin-bottom: -15px;
  }

  .col-md-4 img {
    min-height: 350px;
  }
  
  .primeiro {
    min-height: 200%;
  }
  
  .projects {
    width: 90%;
    margin-top: 100px;
    margin-left: 5.5%;
  }
  
  .card {
    display: flex;
    margin-top: 30px;
    min-height: 100px;
  }
  
  #header {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }
  
  #texto-base {
    color: white;
    min-width: auto;
    display: inline-block;
    text-indent: 20px;
    padding-top: 300px;
    margin-left: -90px;
  }
  
  /**********************************************************/
  .container {
    height: 100vh;
    display: block;
    justify-content: right;
    align-items: right;
  }
  .container p {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    padding-left: 8%;
  }
  .container p span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0% {
      background-color: #ccc;
    }
    49% {
      background-color: #ccc;
    }
    50% {
      background-color: transparent;
    }
    99% {
      background-color: transparent;
    }
    100% {
      background-color: #ccc;
    }
  }
  
  /******************************************************************/
  
  .social-icons { 
    text-align: right;
    padding-top: 13px;
    list-style: none;
    margin-right: 20%;
  }
  
  .social-icons li {
    display: inline-block;
  }
  
  .idioma {
    display: inline;
    text-align: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-left: 2px;
  }
  
  .social-icons li a {
    font-size: 20px;
    display: block;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #444;
    color: #DDD;
    transition: 0.3s;
  }
  .social-icons li a:hover {
    background: #FC7D15;
    color: #FFF;
  }
  .social-icons li a i {
    line-height: 40px !important;
  }
  .social-icons.vertical {
    width: 40px;
  }
  .social-icons.vertical li {
    margin-bottom: 5px;
  }
  .social-icons.vertical li:last-child {
    margin-right: 0;
  }
  .social-icons.vertical li a {
    background: #444;
    color: #DDD;
  }
  .social-icons.vertical li a:hover {
    background: #FC7D15;
    color: #FFF;
  }
  /******************************************************************/
  
  #rodape {
    font-size: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    width: 100%;
    padding: 8px;
    margin-top: 90px;
  }
}

/*  VISÃO DE TABLET OU TELA COM ROTAÇÃO  */
@media screen and (min-width: 750) and (max-width: 990px){
  body {
    background: radial-gradient(rgba(0, 0, 0, 0.404), rgb(0, 0, 0)), url('images/background.jpg') center center no-repeat fixed;
    font-family: 'Montserrat', sans-serif;
    color: #eee;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  }
  
  .navbar-brand {
    font-family: 'Nanum Brush Script', cursive;
    margin-bottom: -15px;
  }
  
  .primeiro {
    min-height: 200%;
  }
  
  .projects {
    width: 70%;
    margin-top: 100px;
    margin-left: 13%;
  }
  
  .progress {
    background-color: #dd7732;
  }
  
  .card {
    margin-top: 30px;
    min-height: 300px;
  }
  
  #header {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }
  
  #texto-base {
    color: white;
    min-width: auto;
    display: inline-block;
    text-indent: 20px;
    padding-top: 300px;
    margin-left: -90px;
  }
  
  /**********************************************************/
  
  .container {
    height: 100vh;
    display: block;
    justify-content: right;
    align-items: right;
  }
  .container p {
    font-size: 25px;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    padding-left: 25%;
  }
  .container p span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0% {
      background-color: #ccc;
    }
    49% {
      background-color: #ccc;
    }
    50% {
      background-color: transparent;
    }
    99% {
      background-color: transparent;
    }
    100% {
      background-color: #ccc;
    }
  }
  
  /******************************************************************/
  
  .social-icons { 
    text-align: right;
    padding-top: 13px;
    list-style: none;
    margin-right: 20%;
  }
  
  .social-icons li {
    display: inline-block;
  }
  
  .idioma {
    display: inline;
    text-align: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-left: 2px;
  }
  
  .social-icons li a {
    font-size: 20px;
    display: block;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #444;
    color: #DDD;
    transition: 0.3s;
  }
  .social-icons li a:hover {
    background: #FC7D15;
    color: #FFF;
  }
  .social-icons li a i {
    line-height: 40px !important;
  }
  .social-icons.vertical {
    width: 40px;
  }
  .social-icons.vertical li {
    margin-bottom: 5px;
  }
  .social-icons.vertical li:last-child {
    margin-right: 0;
  }
  .social-icons.vertical li a {
    background: #444;
    color: #DDD;
  }
  .social-icons.vertical li a:hover {
    background: #FC7D15;
    color: #FFF;
  }
  /******************************************************************/
  
  #rodape {
    font-size: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    width: 100%;
    padding: 8px;
    margin-top: 90px;
  }
}

/*  VISÃO DE CELULAR  */
@media screen and (min-width: 320px) and (max-width: 740px) {
body {
  background: radial-gradient(rgba(0, 0, 0, 0.404), rgb(0, 0, 0)), url('images/background.jpg') center center no-repeat fixed;
  font-family: 'Montserrat', sans-serif;
  color: #eee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.navbar-brand {
  font-family: 'Nanum Brush Script', cursive;
  margin-bottom: -15px;
}

.primeiro {
  min-height: 200%;
}

.projects {
  width: 90%;
  margin-top: 100px;
  margin-left: 5%;
}

.progress {
  background-color: #dd7732;
}

.card {
  margin-top: 30px;
}

#header {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

#texto-base {
  color: white;
  min-width: auto;
  display: inline-block;
  text-indent: 20px;
  padding-top: 300px;
  margin-left: -90px;
}

/**********************************************************/

.container {
  height: 100vh;
  display: block;
  justify-content: right;
  align-items: right;
}
.container p {
  font-size: 35px;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  padding-left: 20%;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

/******************************************************************/

.social-icons { 
  text-align: right;
  padding-top: 13px;
  list-style: none;
  margin-right: 20%;
}

.social-icons li {
  display: inline-block;
}

.idioma {
  display: inline;
  text-align: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-top: 20px;
  margin-left: 2px;
}

.social-icons li a {
  font-size: 20px;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #444;
  color: #DDD;
  transition: 0.3s;
}
.social-icons li a:hover {
  background: #FC7D15;
  color: #FFF;
}
.social-icons li a i {
  line-height: 40px !important;
}
.social-icons.vertical {
  width: 40px;
}
.social-icons.vertical li {
  margin-bottom: 5px;
}
.social-icons.vertical li:last-child {
  margin-right: 0;
}
.social-icons.vertical li a {
  background: #444;
  color: #DDD;
}
.social-icons.vertical li a:hover {
  background: #FC7D15;
  color: #FFF;
}
/******************************************************************/

#rodape {
  font-size: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  width: 100%;
  padding: 8px;
  margin-top: 90px;
}
}