body {
  background-image: linear-gradient(to right, rgb(197, 197, 197), white, rgb(197, 197, 197));
}

#rodape h5 {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.74);
  padding-top: 10px;
  padding-bottom: 12px;
  margin: -8px;
  margin-top: 25px;
}

#title {
  text-align: center;
  font-size: 50px;
  font-family: 'Square Peg', cursive;
}

#color-palette {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.color , .selected {
  border: 1px solid black;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 10%;
}

.select {
  border: 1px solid black;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 10%;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#pink {
  background-color: pink;
}

.areaOfUse {
  display: flex;
  justify-content: center;
}

#pixel-board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
}

.pixel {
  border: 1px solid black;
  background-color: white;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 10%;
}

#button {
  position: relative;
  display: inline-block;
}

#clear-board {
  position: relative;
  display: inline-block;
  left: 40%;
  margin-bottom: 10px;
  background: white;
  border-radius: 10%;
}
